/* Change these variables to adjust values accordingly */
:root {
    --leftcontentvw:  78.4vw;;
    --rightcontentvw: 21.6vw;
    --bannerimg: url("https://dl.dropboxusercontent.com/s/eyzfkmihwol6b69/banner%20%280-00-00-00%29.png");
    --dialogbgimageurl: url("https://dl.dropboxusercontent.com/s/v59wycx9g8p05e5/astolfo_render__1__by_mrsterben_dbzfx5u.png");
    --bgimageurl: url("https://wallpapercave.com/wp/wp2225973.jpg");
}

/* Hosted external fonts goes here - currently doesn't work */
@font-face {
    font-family: 'Futura';
    font-style: normal;
    src: url(https://dl.dropboxusercontent.com/s/a0tn9ohoferrayg/FuturaLT-CondensedLight.woff) format('woff');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* Global scrollbar styling */
::-webkit-scrollbar {
    width: 8px;
    height: 3px;
    border: 0px solid hsl(0,0%,27%);
    border-top: 0;
    border-bottom: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: rgba(26,26,26,1);
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #686868;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Font Settings for all text */
* {
    font-size: 102%;
    font-family: "Futura", "Quicksand", "Ubuntu", Verdana, Tahoma, sans-serif;
}

/* TODO: what the fuck is this */
.profile-box {
    overflow: visible;
}

/* Sets padding for top navbar */
#mainpage {
    display: grid;
    padding-top: 50px;
    overflow: hidden;
}

/* Top navbar styling */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    background: #07080af7;
}

.navbar-inverse .navbar-brand {
    letter-spacing: 4px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand{
    color: #cee8ff;
}

.navbar-brand {
    float: left;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: rgb(59, 192, 236) !important;
}

.navbar-nav>li:hover {
    background-image: rgb(59, 192, 236) !important;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: rgb(59, 192, 236) !important;
}

/* Styling for the content on the left with video and playlist */
.leftcontent {
    height: calc(100% - 50px);
    width: var(--leftcontentvw);
    background-image: var(--bgimageurl);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Shows poll modal on top of video */
#pollwrap {
    position: absolute;
    cursor: move;
}

.poll-menu {
    position: absolute;
    z-index: 1020;
    max-width: 30%;
    background: rgba(0, 0, 0, 0.27);
    border: #bbbbbb;
    border-style: solid;
    border-width: thin;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}

/* 16:9 aspect ratio videos dont show full height, this container sets background to black */
#video-container {
    overflow: auto;
    background-color: black;
}

#videowrap {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 17px;
}

/* MOTD glass styling */
#motdwrap {
    /* From https://css.glass */
    background: rgba(28, 30, 34, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.8px);
    -webkit-backdrop-filter: blur(4.8px);
    border: 1px solid rgba(28, 30, 34, 0.34);
}

#motdrow {
    padding-top: 15px;
}

.row {
    margin-left: 60px;
    margin-right: 50px;
}

.nano-content {
    width: var(--leftcontentvw);
}

/* PLaylist and controls positioning */
#controlsrow {
    margin-left: 75px;
}

#rightcontrols {
    width: 99% !important;
}

#playlistrow {
    margin-left: initial;
}

#playlistrow ::before {
    display: initial;
}

#rightpane {
    width: var(--leftcontentvw);
}

#wrap {
    padding: initial;
}

/* Styling for the content on the right with video title, user list, and chat */
.rightcontent {
    width: var(--rightcontentvw);
    position:fixed;
    left: var(--leftcontentvw);
    z-index: 1030;
}

/* Size and styling for entire chat wrap */
/*
FIXME: Wrap children do not respect their parent's height (ie. Set height to <95vh, bottom buttons won't move)
*/
#chatwrap {
    margin-bottom: 0px;
    height: 95vh;
    width: 99.8%;
    background: #0e1015f7;
    
}

/* Video title styling */
.currenttitlewrap {
    overflow: hidden;
}

#videowrap-header {
    display: flex;
    height: 7%;
    overflow-wrap: break-word;
    overflow-y: auto;
    background-color: #2e2e2e;
    padding: 9px 15px 15px 15px;
    /* animation: scrollText 10s linear infinite; */
}

#currenttitle {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 40px;
}

/* TODO: Fix or remove this scrolling effect in JS */
@keyframes scrollText {
    from   { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}

#chatheader {
    background-color: #0e1015f7;
}

#usercount {
    padding-left: 20px;
    pointer-events: none;
}

/* Show users horizontally and show scrollbar only for this element if overflowing */
#userlist {
    float: initial;
    height: 30px !important;
    width: initial;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: #0e1015f7;
}

#userlist::-webkit-scrollbar {
    display: block;
}

#userlist, #messagebuffer, #chatheader, #videowrap-header{
    border: initial;
}

.userlist_item {
    display: flex;
    padding-left: 15px;
    padding-top: 3px;
}

.userlist_owner {
    font-size: small;
}

/* Chat display size and styling */
#messagebuffer {
    height: 72vh !important;
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2e2e2e;
}

#messagebuffer > div {
    padding-bottom: 10px;
}

/* Chat messages styling */
.server-whisper {
    padding-left: 100px;
    padding-bottom: 0px;
}

.server-msg-disconnect, .server-msg-reconnect{
    padding-bottom: 0px !important;
    border-radius: 6px;
}

.timestamp {
    color: rgb(143, 143, 143);
    float: right;
    position: sticky;
}

.channel-emote {
    max-width: 80px;
    max-height: 80px;
}

.nick-highlight {
    border-radius: 8px;
}

/* Chat enter message box styling */
#chatline {
    border-radius: 50px;
    margin-top: 10px;
}

#chatline::placeholder {
    font-style: italic;
    opacity: .5;
    color: grey;
}

.form-control {
    border: initial;
    border-radius: 8px;
}

/* Buttons styling */
#leftcontrols {
    display: flex;
    padding-top: 8px;
    padding-left: 8px;
    width: inherit;
}

#newpollbtn, #emotes-btn, #afk-btn, #clear-btn {
    background-image: none;
    background-color: rgb(55, 173, 212);
}

#newpollbtn:hover, #emotes-btn:hover, #afk-btn:hover, #clear-btn:hover {
    background-image: none;
    background-color: rgb(34, 116, 143);
}

/*
There's probably a better way to space the buttons apart
Remove if necessary
*/
#spacer-btn {
    visibility: hidden;
    width: inherit;
    pointer-events: none;
}

/* Sets the width for left and right content */
.col-lg-5 {
    width: 21.666667%;
    padding-left: initial;
    padding-right: initial;
}

.col-lg-7 {
    width: 78.333333%;
    padding-left: initial;
    padding-right: initial;
}

/* Footer  styling */
.container .credit {
    margin: 10px 0;
    text-align: center;
}

.text-muted {
    color: #7a8288;
}

#footer {
    font-size: 11px;
}

/* The following is imported from older code with minor changes */

/* Modal styling */
.modal-body::before {
    content: "";
    background-image: var(--dialogbgimageurl);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: bottom;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
	
.modal-backdrop.in {
    opacity: .3
}

.tab-content > .tab-pane,
.form-group,
.pm-history-content {
    position: relative;
}

textarea.form-control {
    height: 500px;
}

/* Queue decoration */
/* .queue_active {
    background-image: linear-gradient(#eba48cab, #c67148a8, #683424ad);
    background-repeat: no-repeat
}
.queue_entry {
    border-color: #053851b0;
    background-color: #6b313d8a;
    font-size: 75%;
}
.videolist {
    background-image: url(https://dl.dropboxusercontent.com/s/o0c936xljzu8nsr/thecouncil.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
} */

.nick-hover {
    background-color: rgba(0, 0, 0, 0)
}

/* Styling for custom emotes panel */

.emotewrap {
    position: absolute;
    cursor: move;
    top: 17%;
}

#emotespanel {
    position: fixed;
    z-index: 1020;
    height: 28% !important;
    overflow: scroll;
    text-align: center;
    width: 380px;
    margin: 10px 20px 0 30px;
    opacity: 1;
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.27);
    border-radius: 16px;
    border: #bbbbbb;
    border-style: solid;
    border-width: thin;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.8px);
    -webkit-backdrop-filter: blur(3.8px);
}
#emotespanel img {
    margin: 5px;
    max-height: 50px;
    cursor: pointer
}
#emotesbtnwrap {
    text-align: center;
    margin: 5px
}
#emotespanel .alert {
    text-align: left;
    margin: 5px -10px
}

#cs-csspreview {
    position: absolute;
    margin-left: 10px;
    margin-top: 10px
}

/* Custom scrolling banner */
.banner-slideshow {
    height: 215px;
    max-width: 100%;
    margin: 0 auto;
    border-style: solid;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    border-color: #916907
}
.banner-slideshow > div {
    height: 400px;
    width: 5066px;
    background: var(--bannerimg);
    background-size: 50%;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: translate3d(0, 0, 0)
}
.banner-slideshow .mover-1 {
    animation: moveSlideshow 20s linear infinite
}
@keyframes moveSlideshow {
    100% {
        transform: translateX(-50%)
    }
}